{% extends 'base.html' %}

{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
        <h2>Discover the {{ dinosaure.name }}</h2>

        <div class="description">
            {{ dinosaure.description}}
        </div>

        <div class="card">
            <img src="{{ dinosaure.avatar}}" alt="" />
            <dl>
                <dt>Name</dt>
                <dd>{{ dinosaure.name }}</dd>
                <dt>Name meaning</dt>
                <dd>Brachiosaurus</dd>
                <dt>Diet</dt>
                <dd>{{ dinosaure.diet}}</dd>
                <dt>Height</dt>
                <dd>{{ dinosaure.height}}</dd>
                <dt>Length</dt>
                <dd>{{ dinosaure.length}}</dd>
                <dt>Weight</dt>
                <dd>{{ dinosaure.weight}}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
            {% for dinosaures in SelectionDinosaure %}
            <a href="{{ url_for('dinosaur', dinosaureSlug = dinosaures['slug'] ) }}">
                <figure>
                    <img src="{{ dinosaures['avatar'] }}" alt="{{ dinosaures.name }}" />
                    <figcaption>Discover the {{ dinosaures['name'] }}</figcaption>
                </figure>
            </a>
            {% endfor %}
    </aside>
</div>
{% endblock %}