{% extends 'base.html' %}

{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<section>
    <h2>The world of Jurassic Park</h2>

    <!-- iterate here ? -->
        {% for dinosaure in response %}
        <a href="{{ url_for('dinosaur', dinosaureSlug = dinosaure.slug )}}">
            <figure>
                <img src="{{ dinosaure.avatar }}" alt="{{dinosaure.slug}}" />
                <figcaption>Discover the {{ dinosaure.slug }}</figcaption>
            </figure>
        </a>
        {% endfor %}
</section>
{% endblock %}